#panel-menu {
    position: fixed;
    overflow: scroll;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
}

#panel-content {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 15px;
}

.tab-pane {
    padding: 15px 0;
}

.img-thumbnail {
    display: block;
    width: 100%;
    min-height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.img-thumbnail .drop-image {
    display: none;
    float: right;
}

.img-thumbnail:hover .drop-image {
    display: inline-block;
}

.margin-top {
    margin-top: 15px;
}

.mf-grid-control-btn {
    margin: 0 10px;
    cursor: pointer;
}

a.mf-grid-control-btn {
    color: #000;
    text-decoration: none;
}

.mf-grid-control-btn:first-child {
    margin-left: 0;
}

.mf-grid-control-btn:last-child {
    margin-right: 0;
}

.pointer {
    cursor: pointer;
}

ul.property-list {
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.property-list li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

ul.property-list li:last-child {
    border-bottom: none;
}

ul.property-list li:hover, ul.property-list li.active {
    background-color: #3c8dbc;
    color: #fff;
}

ul.property-list li.active:after {
    content: "\027A4";
    display: block;
    float: right;
}

ul.property-value-list {
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.property-value-list li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

ul.property-value-list li:last-child {
    border-bottom: none;
}

ul.property-value-list li:hover, ul.property-value-list li.active {
    background-color: #3c8dbc;
    color: #fff;
}

ul.property-value-list li.active:after {
    content: "\02714";
    display: block;
    float: right;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
    font-size: 12px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a .notify-datetime {
    font-size: 11px;
    font-weight: 700;
}

#property-list, #property-value-list {
    margin: 10px 0;
    overflow: hidden scroll;
    max-height: 200px;
}

.bg-warning {
    background-color: #f39c12!important;
}

.item-thumbnail {
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
}

#order-status-box {
    cursor: pointer;
}

#order-status-box i.fas {
    color: #fff;
}

.order-status-flow-table td {
    text-align: center;
    vertical-align: middle;
}

.order-status-flow {
    margin: 0;
    padding: 0;
    list-style: none inside;
}

.order-status-flow .btn {
    width: 100%;
    border-radius: 0;
    font-weight: 700;
}

.order-status-bulge {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    white-space: nowrap;
}

.order-status-color-box {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #444;
}

.palette .order-status-color-box {
    display: inline-block;
    cursor: pointer;
}

.last-order-status-datetime {
    font-size: 12px;
    margin-top: 5px;
}
